<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>书籍信息</title>
    <link href="book_info.css" rel="stylesheet" />
    <script src="./jquery.min.js"></script>
    <script src="./md5.min.js"></script>
    <script type="text/javascript">
        {% include "../js/flexible.js" %}
        {% include "../js/util.js" %}
        {% include "../js/book-info.js" %}
    </script>
</head>
<body>
    <div class="container">
        <article class="book">
            <section class="top">
                <figure id="cover">
                    <img src="./resource/封面图.png" alt="封面图"/>
                </figure>
                <h2 id="book-name">天龙八部降龙</h2>
                <p><span id="author-name">张信哲</span>&nbsp;&nbsp;<span id="book-words">960</span>万字</p>
                <p><span id="final-price">0.5</span><span class="unit">淘豆/千字</span>&nbsp;&nbsp;<span id="price">0.8</span><span class="unit">淘豆/千字</span></p>
                <p class="sale-deadline"><span>剩余优惠：</span>
                    <span id="day"><span>0</span><span>1</span></span>天
                    <span id="hour"><span>2</span><span>2</span></span>时
                    <span id="minute"><span>3</span><span>0</span></span>分
                    <span id="second"><span>3</span><span>6</span></span>秒
                </p>
            </section>
            <section class="content">
                <p class="desc">剑道独尊是剑游太虚所写东方玄幻类网络小说,
                    连载于起点中文网。作起点中文网。作品讲述
                    个大家族弟因为起点中文网。</p>
                <a href="javascript:void(0);" id="gotoChapter">查看目录</a>
            </section>
            <section class="author">
                <h2 class="title">作者</h2>
                <p id="author-introduce">出生于德国东部城市格赖夫斯瓦尔德，德国籍足球运动员，场上司职中场，效力于皇家马德里足球俱乐部。后来加入到了拜仁慕尼黑俱乐部。</p>
            </section>
            <section class="tags">
            </section>
        </article>
        <article class="recommend-books">
            <section class="recom">
                <h2 class="title">看过这本书的人还在看</h2>
                <a>换一批</a>
            </section>
        </article>
        <article class="author-other-books">
            <section>
                <h2 class="title">作者其他作品</h2>
                <a>查看全部</a>
            </section>
        </article>
        <article class="publish-info">
            <aside>
                免费说明：本书数字版权由书香文府提供，授权本软件使用，制作，发行，若包括不良信息，请及时告知客服
            </aside>
        </article>
    </div>
</body>
</html>